[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
serial: /dev/serial/by-id/usb-Cartographer_stm32f042x6_250038001943303854303720-if00
#canbus_uuid: <blank>
restart_method: command # Not needed for probes using CAN. 
is_non_critical: True

[cartographer]
mcu: cartographer
x_offset: 9.0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 9.0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345 carto]
# Select 1 of the cs_pin below depending on the probe you have. 
# Having the wrong one selected will cause an Endless Bootloop
# Cartographer V4 has int2 connected to the probes PA1 pin
cs_pin: cartographer:PA3 # For Cartographer V3
# cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.